@font-face {
  font-family: "ITC Korinna";
  src: url("//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.eot");
  src: url("//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.svg#ITC Korinna")
      format("svg");
}

:root {
  --numCategories: 6;
  --blue: linear-gradient(180deg, #0120cb 0%, #011ba9 100%);
  --yellow: #ffe817;
  --green: #90ff7e;
  --red: #ffa57e;
  --gap: 0.1em;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1 {
  
  font-family: "Wendy One", sans-serif;
  text-shadow: var(--text-shadow);
  color: gold;
}


body {
  font-family: "ITC Korinna";
  color: white;
  /* font-size: 2vw; */
  text-align: center;
  padding: 1em;
  /* background: linear-gradient(180deg, #2e2e3a 0%, #0c0c2c 100%); */
  background: #49127f;
  background: -moz-radial-gradient(
    center,
    #49127f 0%,
    #381f7a 45%,
    #111193 100%
  );
  background: -webkit-radial-gradient(
    center,
    #49127f 0%,
    #381f7a 45%,
    #111193 100%
  );
  background: radial-gradient(
    ellipse at center,
    #49127f 0%,
    #381f7a 45%,
    #111193 100%
  );
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-shadow: var(--text-shadow);
}

.score-count {
  color: var(--yellow);
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-content: center;

  margin-right: 0.5em;
}
#scoreboard {
  padding: 0.5em;
  border: 1px solid;
}

.board {
  background: #171749;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 5px 5px 11px 8px rgba(0, 0, 0, 0.73);
  box-shadow: 5px 5px 11px 8px rgba(0, 0, 0, 0.73);
  /* border: grey solid 10px; */
}
.board .column {
  flex: 1;
  margin-left: var(--gap);
  margin-right: var(--gap);
}
.board .column .header {
  color: white;
  text-transform: capitalize;
  text-shadow: 3px 3px black;
  background: var(--blue);
  text-align: center;
  margin-bottom: 0.5em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board .column li {
  
  background: var(--blue);
  color: var(--yellow);
  height: 4.5em;
  margin-bottom: 0.25em;
}
.column ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.normal-card {
  display: flex;
  justify-content: center;
  align-content: center;
  
  /* margin: 0px; */
}
.normal-card h1 {
  margin-top: 15px;
  font-size: 2em;
  font-family: sans-serif;
  /* padding: 1px; */

  align-items: center;
  text-align: center;
  /* flex-grow: 1; */
  /* text-align: center; */
}

/* expand card css*/
.expanded-card {
  background: var(--blue);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.expanded-card p {
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  
  font-size: 30px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
  /* width: 80vw; */
  
  margin: 10rem;
  padding: 3px;

  
}

#categories {
  display: grid;
  grid-template-columns: repeat(var(--numCategories), 1fr);
}

.clueValue {
  display: flex;
  color: gold;
  /* font-size: 1.5em; */
  text-shadow: 3px 3px black;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

/* ADDED BY KEVIN*/
.categoryViewLabel {
  color: gold;
  justify-content: center;

  text-shadow: 3px 3px black;
  font-size: 1.5em;
}



/* .response {
  display: flex;
  
  justify-self: center;
} */
/* #question {
  font-size: 2.5em;
  
  align-content: center;
  padding-top: 15vh;
  min-height: 35vh;

  color: #ffffff;
} */
/* #welcome {
  grid-row: 2;
  grid-column: 4 / 7;
} */

body {
  background: url("https://images.unsplash.com/photo-1614854262178-03c96e9c8c28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=gradienta-NUzd3M4XouA-unsplash.jpg");
  background-size: cover;
}

.content h1 {
  font-size: 2.75rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}
.settings {
  margin: 1rem;
}

.card {
  margin-bottom: 1rem;
}

/* .card .title {
  text-decoration-color: black;
} */
.button {
  margin: 2rem;
  border: black 15px;
}

  

